<div class="bg-gray-500 h-screen">
	<div class="max-w-3xl mx-auto bg-white">
		<div class="mb-4 flex-sformatOnSaverink-0 sm:mb-0 sm:mr-4">
			<svg class="h-32 w-full sm:w-32 border border-gray-300 bg-white text-gray-300" preserveAspectRatio="none" stroke="currentColor" fill="none" viewBox="0 0 200 200" aria-hidden="true">
				<path vector-effect="non-scaling-stroke" stroke-width="1" d="M0 0l200 200M0 200L200 0" />
			</svg>
		</div>
		<div *ngIf="user">
			<h4 class="text-lg font-bold">{{ user!.email }}</h4>
			<p class="mt-1">
				{{ user!.id }}
			</p>
		</div>
	</div>
</div>
