<label *ngIf="label" for="{{name}}" class="block text-sm font-medium text-gray-500">
	{{ label }}
</label>
<div class="relative mt-1 rounded-md shadow-sm">
	<input [(ngModel)]="inputModel" (ngModelChange)="emit()" type="{{type}}" name="{{name}}" autocomplete="{{name}}" [required]="required" [disabled]="disabled" class="block w-full mt-1 text-sm placeholder-gray-400 border border-gray-300 rounded-md appearance-none focus:outline-none focus:ring-yellow-400 focus:border-yellow-400" [ngClass]="{'text-red-600 placeholder-red-300 border-red-300 focus:!ring-red-500 focus:!border-red-500 pr-10' : error, 'spin-button-none': duration}" placeholder="{{placeholder}}">
	<div class="absolute inset-y-0 right-0 flex items-center pr-3 pointer-events-none">
		<span *ngIf="duration" class="text-gray-500 sm:text-sm" id="price-currency">
			{{ humanizedDuration }}
        </span>
		<fa-icon *ngIf="error; else iconTemplate" size="lg" class="text-red-400" [ngClass]="{'ml-2': duration}" icon="exclamation-circle"></fa-icon>
		<ng-template #iconTemplate>
			<fa-icon *ngIf="icon !== 'dog'" size="lg" ngClass="text-primary-500" [icon]="icon"></fa-icon>
		</ng-template>
	</div>
	<!-- <div *ngIf="duration" class="absolute inset-y-0 right-0 flex items-center pr-3 pointer-events-none">
        <span *ngIf="duration" class="text-gray-500 sm:text-sm" id="price-currency">
			{{ humanizedDuration }}
        </span>
	</div> -->
</div>
<ng-container *ngFor="let error of filterdErrors; index as errorIndex">
	<p *ngIf="error" class="mt-1 text-xs text-red-400">{{ error }}</p>
</ng-container>
